In [1]:
import pandas as pd 
import matplotlib as plt
import numpy as np  
import random

In [2]:
datos  = pd.DataFrame()
datos = pd.read_json('str/sp500.json')

In [3]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1219185 entries, 0 to 1219184
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Open                   1219183 non-null  float64
 1   High                   1219183 non-null  float64
 2   Low                    1219183 non-null  float64
 3   Close                  1219183 non-null  float64
 4   Volume                 1219185 non-null  int64
 5   Symbol                 1219185 non-null  object
 6   Date_time              1219185 non-null  datetime64[ns]
 7   año                    1219185 non-null  int64
 8   mes                    1219185 non-null  int64
 9   día                    1219185 non-null  int64
 10  Type                   1219185 non-null  object
 11  Delta                  0 non-null        float64
 12  DayOfWeek              1219185 non-null  object
 13  Security               1219185 non-null  object
 14  GICS Sector            1219185 non-null  object
 15  GICS Sub-Industry      1219185 non-null  object
 16  Headquarters Location  1219185 non-null  object
 17  Date added             1219185 non-null  object
 18  CIK                    1219185 non-null  int64
 19  Founded                1219185 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(5), object(9)
memory usage: 195.3+ MB

In [4]:
datos.head(10)

,Open,High,Low,Close,Volume,Symbol,Date_time,año,mes,día,Type,Delta,DayOfWeek,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,86.047082,86.357443,85.742691,86.232101,2234128,MMM,2014-09-15,2014,9,15,bullish,NaN,Monday,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,85.826251,86.536493,85.700909,86.452934,2326340,MMM,2014-09-16,2014,9,16,bullish,NaN,Tuesday,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
2,86.494690,87.013944,86.106740,86.763268,3297372,MMM,2014-09-17,2014,9,17,bullish,NaN,Wednesday,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
3,86.960244,87.771958,86.954281,87.640648,2828301,MMM,2014-09-18,2014,9,18,bullish,NaN,Thursday,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
4,87.986805,88.255383,87.449644,87.551109,9695015,MMM,2014-09-19,2014,9,19,bearish,NaN,Friday,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
5,87.688387,87.736133,86.840866,86.966202,2668276,MMM,2014-09-22,2014,9,22,bearish,NaN,Monday,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
6,86.679721,86.900553,86.154497,86.166435,2451441,MMM,2014-09-23,2014,9,23,bearish,NaN,Tuesday,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
7,86.047052,86.614052,85.778469,86.470810,3119407,MMM,2014-09-24,2014,9,24,bullish,NaN,Wednesday,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
8,86.190296,86.220135,84.793681,85.038383,3305983,MMM,2014-09-25,2014,9,25,bearish,NaN,Thursday,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
9,85.062254,85.283087,84.143112,85.002571,4255009,MMM,2014-09-26,2014,9,26,bearish,NaN,Friday,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902

## Revision de datos y de nulos 

luego de ver si las lineas contienen datos nulos para poder proceder a hacer una  revision de datos y de nulos. por lo que se espera poder ordenar los datos del sp500  por fecha y luego poder hacer una revision de datos y de nulos para poder proceder a hacer una clasificacion y agrupacion  de los datos por sector y industria.

In [5]:
missing_data = datos.isnull().sum()
print(missing_data)

Open                           2
High                           2
Low                            2
Close                          2
Volume                         0
Symbol                         0
Date_time                      0
año                            0
mes                            0
día                            0
Type                           0
Delta                    1219185
DayOfWeek                      0
Security                       0
GICS Sector                    0
GICS Sub-Industry              0
Headquarters Location          0
Date added                     0
CIK                            0
Founded                        0
dtype: int64

In [6]:
print(datos.describe())

               Open          High           Low         Close        Volume  \
count  1.219183e+06  1.219183e+06  1.219183e+06  1.219183e+06  1.219185e+06
mean   1.203818e+02  1.217597e+02  1.189834e+02  1.204009e+02  6.173566e+06
min    4.046553e-01  4.134989e-01  4.008310e-01  4.013090e-01  0.000000e+00
25%    3.972998e+01  4.017706e+01  3.927397e+01  3.973704e+01  9.858000e+05
50%    7.103438e+01  7.180987e+01  7.025504e+01  7.104000e+01  2.070100e+06
75%    1.306822e+02  1.321000e+02  1.292182e+02  1.306722e+02  4.671200e+06
max    9.325000e+03  9.423000e+03  9.237500e+03  9.369580e+03  3.692928e+09
std    2.424028e+02  2.453372e+02  2.395820e+02  2.425063e+02  2.722165e+07

                           Date_time           año           mes  \
count                        1219185  1.219185e+06  1.219185e+06
mean   2019-09-26 19:01:16.810984192  2.019235e+03  6.544673e+00
min              2014-09-15 00:00:00  2.014000e+03  1.000000e+00
25%              2017-04-03 00:00:00  2.017000e+03  4.000000e+00
50%              2019-10-03 00:00:00  2.019000e+03  7.000000e+00
75%              2022-03-23 00:00:00  2.022000e+03  1.000000e+01
max              2024-09-13 00:00:00  2.024000e+03  1.200000e+01
std                              NaN  2.901655e+00  3.424360e+00

                día  Delta           CIK
count  1.219185e+06    0.0  1.219185e+06
mean   1.573220e+01    NaN  7.916421e+05
min    1.000000e+00    NaN  1.800000e+03
25%    8.000000e+00    NaN  9.721000e+04
50%    1.600000e+01    NaN  8.869820e+05
75%    2.300000e+01    NaN  1.140536e+06
max    3.100000e+01    NaN  1.996862e+06
std    8.757463e+00    NaN  5.460284e+05

In [7]:
print(datos.dtypes)

Open                            float64
High                            float64
Low                             float64
Close                           float64
Volume                            int64
Symbol                           object
Date_time                datetime64[ns]
año                               int64
mes                               int64
día                               int64
Type                             object
Delta                           float64
DayOfWeek                        object
Security                         object
GICS Sector                      object
GICS Sub-Industry                object
Headquarters Location            object
Date added                       object
CIK                               int64
Founded                          object
dtype: object

In [ ]:

grouped_df = datos.groupby('GICS Sector')

    # Calculate the sum of each column for each sector
aggregated_df = grouped_df.sum()